h1,
p {
  color: #000;
  margin-bottom: 30px;
}

h3 {
  padding: 10px;
}

button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: rgb(0, 0, 0);
  margin: 10px;
  padding: 1.5rem 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.monophthong button {
  background-color: #af8f6e;
}

.vowel button {
  background-color: #cfbca8;
}

.diphong button {
  background-color: #e7ddd4;
}

.consonant button {
  background-color: #9d9d9c;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.8);
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  box-shadow: 0 0 10px #fff;
}
span {
  color: white;
  display: block;
  padding-top: 5px;
  font-weight: 300;
  font-style: italic;
}
i {
  color: rgb(151, 10, 10);
  font-weight: 400;
}

a {
  font: 500;
}

.audio {
  display: hidden;
}

img {
  width: 100%;
}

.row .col-md-4 .col-sm-12 {
  margin-right: 0px;
  padding: 0px;
}
